.row.justify-content-center
  .col-md-6
    .card
      = render partial: 'admin/categories/shared/form', locals: { category: decor_category,
                                                                  form_type: :edit,
                                                                  action: admin_category_path(decor_category),
                                                                  method: :put }