= form_for deal, url: action, method: method do |f|
  = f.hidden_field :merchant_id, value: merchant_id

  - if deal.errors.any?
    = render partial: 'admin/shared_components/errors/errors', locals: { object: deal }

  .row
    .form-group.col-md-6
      = f.label :name
      = f.text_field :name, class: 'form-control'

    .form-group.col-md-6
      = f.label :quality
      = f.text_field :quality, class: 'form-control'

  .row
    .form-group.col-md-6
      = f.label :items_total
      = f.text_field :items_total, class: 'form-control'

    .form-group.col-md-6
      = f.label :items_left
      = f.text_field :items_left, class: 'form-control'

  .row
    .form-group.col-md-6
      = f.label :category
      = f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, {}, class: 'form-control'

    .form-group.col-md-6
      = f.label :image
      = f.file_field :image, class: 'form-control'

  .form-group
    = f.button class: 'btn btn-sm btn-success' do
      %i.fa.fa-dot-circle-o
      Submit