.sidebar
  %nav.sidebar-nav.ps.ps--active-y
    %ul.nav
      %li.nav-item
        = link_to admin_dashboard_index_path, class: "nav-link #{active_class(admin_dashboard_index_path)}" do
          %i.nav-icon.fa.fa-dashboard
          Dashboard

      %li.nav-title Users
      %li.nav-item
        = link_to admin_users_path, class: "nav-link #{active_class(admin_users_path)}" do
          %i.nav-icon.fa.fa-user-o
          Admins

      %li.nav-item
        = link_to admin_customers_path, class: "nav-link #{active_class(admin_customers_path)}" do
          %i.nav-icon.fa.fa-vcard-o
          Customers

      %li.nav-item
        = link_to admin_merchants_path, class: "nav-link #{active_class(admin_merchants_path)}" do
          %i.nav-icon.fa.fa-bank
          Merchants


      %li.nav-title Categories
      %li.nav-item
        = link_to admin_categories_path, class: "nav-link #{active_class(admin_categories_path)}" do
          %i.nav-icon.fa.fa-trophy
          Categories
      -#
      -#%li.nav-title Maps
      -#%li.nav-item
      -#  = link_to admin_locations_path, class: "nav-link #{active_class(admin_locations_path)}" do
      -#    %i.nav-icon.fa.fa-globe
      -#    Locations
      -#
      -#%li.nav-item
      -#  = link_to admin_negative_scenarios_path, class: "nav-link #{active_class(admin_negative_scenarios_path)}" do
      -#    %i.nav-icon.fa.fa-refresh
      -#    Negative Scenarios
      -#
      -#%li.nav-item
      -#  = link_to admin_landmarks_path, class: "nav-link #{active_class(admin_landmarks_path)}" do
      -#    %i.nav-icon.fa.fa-map-marker
      -#    Landmarks
      -#
      -#
      -#
      -#%li.nav-title Weapons
      -#%li.nav-item
      -#  = link_to admin_weapons_path, class: "nav-link #{active_class(admin_weapons_path)}" do
      -#    %i.nav-icon.fa.fa-hand-o-right
      -#    Weapons

  %button.sidebar-minimizer.brand-minimizer{type: 'button'}