%tr
  %td= customer.id
  %td= customer.full_name
  %td= customer.email
  %td.text-center
    %span{class: customer.is_maling?, aria:{ hidden: 'true' } }
  %td= customer.created_at_formated
  %td
    = link_to 'Edit', edit_admin_customer_path(customer), class: 'btn btn-warning btn-xs'
    = link_to 'Destroy', admin_customer_path(customer), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger btn-xs'