.card-header
  #{form_type.eql?(:new) ? "Create" : "Update" } Customer

.card-body
  = form_for customer, url: action, method: method do |f|
    - if customer.errors.any?
      = render partial: 'admin/shared_components/errors/errors', locals: { object: customer }

    .form-group
      = f.label :first_name
      = f.text_field :first_name, class: 'form-control'

    .form-group
      = f.label :last_name
      = f.text_field :last_name, class: 'form-control'

    .form-group
      = f.label :email
      = f.text_field :email, class: 'form-control'

    .form-group
      = f.label :mailing
      = f.check_box :mailing, class: 'form-control'

    .form-group
      = f.button class: 'btn btn-sm btn-success' do
        %i.fa.fa-dot-circle-o
        Submit