.row
  .col-lg-12
    .card
      .card-header
        %i.fa.fa-briefcase
        Customers List
      .card-body
        %table.table.table-responsive-sm.table-striped
          %thead
            %tr
              %th id
              %th Full Name
              %th Email
              %th.text-center In mailing list
              %th Created at
              %th
          %tbody
            - decor_customers.each do |customer|
              = render partial: 'admin/customers/shared/customer', locals: { customer: customer }

        = render partial: 'admin/shared_components/paginate/paginate', locals: { collection: decor_customers }