.row
  .col-lg-12
    .card
      .card-header
        %i.fa.fa-briefcase
        Merchants List

        -#= link_to 'New Merchant', new_admin_merchant_path, class: 'btn btn-primary pull-right'
      .card-body
        %table.table.table-responsive-lg.table-hover.table-striped
          %thead
            %tr
              %th Logo
              %th Email
              %th Store Name
              %th Store Email
              %th Address
              %th Phone
              %th Latitude
              %th Longitude
              %th Created at
              %th
          %tbody
            - decor_merchants.each do |merchant|
              = render partial: 'admin/merchants/shared/merchant', locals: { merchant: merchant }

        = render partial: 'admin/shared_components/paginate/paginate', locals: { collection: decor_merchants }