.card-header
  #{form_type.eql?(:new) ? "Create" : "Update" } Category

.card-body
  = form_for category, url: action, method: method do |f|
    - if category.errors.any?
      = render partial: 'admin/shared_components/errors/errors', locals: { object: category }

    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'

    .form-group
      = f.label :image
      = f.file_field :image, class: 'form-control'
      = cl_image_tag(category.image.url, width: 100) if form_type.eql?(:edit)

    .form-group
      = f.button class: 'btn btn-sm btn-success' do
        %i.fa.fa-dot-circle-o
        Submit