.row.justify-content-center
  .col-md-6
    .card
      = render partial: 'admin/customers/shared/form', locals: { customer: decor_customer,
                                                             form_type: :edit,
                                                             action: admin_customer_path(decor_customer),
                                                             method: :put }