.row
  .col-lg-12
    .card
      .card-header
        %i.fa.fa-briefcase
        Categories List

        = link_to 'New Category', new_admin_category_path, class: 'btn btn-primary pull-right'
      .card-body
        %table.table.table-responsive-lg.table-hover.table-striped
          %thead
            %tr
              %th Name
              %th Image
              %th Created at
              %th
          %tbody
            - decor_categories.each do |category|
              %tr
                %td= category.name
                %td= cl_image_tag(category.image.url, width: 100, height: 100, crop: :fill)
                %td= category.created_at_formated
                %td
                  = link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-warning btn-xs'
                  = link_to 'Destroy', edit_admin_category_path(category), method: :delete, data: {confirm: 'You will destroy ALL deals related with this Category! Are you sure!?'}, class: 'btn btn-danger btn-xs'

        = render partial: 'admin/shared_components/paginate/paginate', locals: { collection: decor_categories }