.row.justify-content-center
  .col-md-6
    .card
      = render partial: 'admin/users/shared/form', locals: { admin: decor_admin,
                                                             form_type: :edit,
                                                             action: admin_user_path(decor_admin),
                                                             method: :put }