.row.justify-content-center
  .col-md-6
    .card
      = render partial: 'admin/merchants/shared/form', locals: { merchant: new_merchant,
                                                                 form_type: :new,
                                                                 action: admin_merchants_path,
                                                                 method: :post }