.row.justify-content-center
  .col-md-6
    .card
      = render partial: 'admin/categories/shared/form', locals: { category: new_category,
                                                                 form_type: :new,
                                                                 action: admin_categories_path,
                                                                 method: :post }