.card-header
  #{form_type.eql?(:new) ? "Create" : "Update" } Merchant

.card-body
  = form_for merchant, url: action, method: method do |f|
    - if merchant.errors.any?
      = render partial: 'admin/shared_components/errors/errors', locals: { object: merchant }

    .form-group
      = f.label :email
      = f.text_field :email, class: 'form-control'

    .form-group
      = f.label :store_name
      = f.text_field :store_name, class: 'form-control'

    .form-group
      = f.label :store_email
      = f.text_field :store_email, class: 'form-control'

    .form-group
      = f.label :address
      = f.text_field :address, class: 'form-control'

    .form-group
      = f.label :phone
      = f.text_field :phone, class: 'form-control'

    .form-group
      = f.label :lat
      = f.text_field :lat, class: 'form-control'

    .form-group
      = f.label :lng
      = f.text_field :lng, class: 'form-control'

    .form-group
      = f.label :logo
      = f.file_field :logo, class: 'form-control'
    = cl_image_tag(merchant.logo.url, width: 220) if form_type.eql?(:edit)

    .form-group
      = f.button class: 'btn btn-sm btn-success' do
        %i.fa.fa-dot-circle-o
        Submit