%tr
  %td= cl_image_tag(merchant.logo.url, width: 100, height: 100, crop: :fill)
  %td= merchant.email
  %td= merchant.store_name
  %td= merchant.store_email
  %td= merchant.address
  %td= merchant.phone
  %td= merchant.lat
  %td= merchant.lng
  %td= merchant.created_at_formated
  %td
    = link_to 'Deals', admin_merchant_path(merchant), class: 'btn btn-primary btn-xs'
    = link_to 'Edit', edit_admin_merchant_path(merchant), class: 'btn btn-warning btn-xs'
    = link_to 'Destroy', admin_merchant_path(merchant), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger btn-xs'