.row
  .col-md-12
    .card
      .card-header Create New Deal
      .card-body
        = render partial: 'admin/deals/shared/form', locals: { deal: Deal.new,
                                                               merchant_id: merchant.id,
                                                               form_type: :new,
                                                               action: admin_deals_path,
                                                               method: :post }

        %br/
        %table.table.table-responsive-sm.table-hover.table-outline.mb-0
          %thead.thead-light
            %tr
              %th.text-center Image
              %th Deal Name
              %th Usage
              %th Category
              %th Activity
          %tbody
            - deals.each do |deal|
              %tr
                %td.text-center
                  .avatar{style: 'width: 70px; height: 70px;'}
                    = cl_image_tag(deal.image.url)
                    %span.avatar-status.badge-success
                %td
                  %div
                    = deal.name
                  .small.text-muted
                    %span New
                    | Registered: #{deal.created_at.strftime('%m/%d/%Y')}

                %td
                  %div
                    = deal.quality
                  .small.text-muted
                    %span #{deal.items_total}
                    | #{deal.items_left}

                %td
                  = deal.category.name rescue 'none'
                %td
                  = link_to 'Edit', edit_admin_deal_path(id: deal.id, merchant_id: merchant.id), class: 'btn btn-warning btn-xs'
                  = link_to 'Destroy', admin_deal_path(id: deal.id, merchant_id: merchant.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'