.container
  .row.justify-content-center
    .col-md-8
      .card.mx-4
        .card-body.p-4
          %h1 Login
          %p.text-muted Please sign in
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f|
            .input-group.mb-3
              .input-group-prepend
                %span.input-group-text @
              = f.email_field :email, placeholder: 'Login', autofocus: true, class: 'form-control'
            .input-group.mb-3
              .input-group-prepend
                %span.input-group-text
                  %i.fa.fa-lock
              = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control'
            = f.submit 'Sign in', class: 'btn btn-block btn-success'