.row.justify-content-center
  .col-md-6
    .card
      = render partial: 'admin/merchants/shared/form', locals: { merchant: decor_merchant,
                                                                 form_type: :edit,
                                                                 action: admin_merchant_path(decor_merchant),
                                                                 method: :put }