%header.app-header.navbar
  %button.navbar-toggler.sidebar-toggler.d-lg-none.mr-auto{"data-toggle" => "sidebar-show", :type => "button"}
    %span.navbar-toggler-icon
  = link_to 'Neario', '/', class: 'navbar-brand'
  %button.navbar-toggler.sidebar-toggler.d-md-down-none{"data-toggle" => "sidebar-lg-show", :type => "button"}
    %span.navbar-toggler-icon

  %ul.nav.navbar-nav.d-md-down-none
    %li.nav-item.px-3
      = link_to 'Api Docs', apipie_apipie_path, class: 'nav-link', target: '_blank', rel: 'nofollow'
    %li.nav-item.px-3
      = link_to 'Sidekiq Workers', sidekiq_web_path, class: 'nav-link', target: '_blank', rel: 'nofollow'


  %ul.nav.navbar-nav.ml-auto
    %li.nav-item
      .btn-group{"aria-label" => "Button group", :role => "group"}
        = link_to '#', class:'btn', data: { turbolinks: false } do
          %i.icon-user
          = current_admin.email

        = link_to destroy_admin_session_path, class:'btn', method: :delete do
          %i.fa.fa-lock
          Logout