.row
  .col-lg-12
    .card
      .card-header
        %i.fa.fa-users
        Admins List

        = link_to 'New Admin User', new_admin_user_path, class: 'btn btn-primary pull-right'
      .card-body
        %table.table.table-responsive-sm.table-striped
          %thead
            %tr
              %th id
              %th Email
              %th Sign In Count
              %th Created at
              %th
          %tbody
            - decor_admins.each do |admin|
              %tr
                %td= admin.id
                %td= admin.email
                %td= admin.sign_in_count
                %td= admin.created_at_formated
                %td
                  - unless admin.current_admin?
                    = link_to 'Edit', edit_admin_user_path(admin), class: 'btn btn-warning btn-xs'
                    = link_to 'Destroy', admin_user_path(admin), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'

        = render partial: 'admin/shared_components/paginate/paginate', locals: { collection: decor_admins }
