.card-header
  #{form_type.eql?(:new) ? "Create" : "Update" } Admin User

.card-body
  = form_for admin, url: action, method: method do |f|
    - if admin.errors.any?
      = render partial: 'admin/shared_components/errors/errors', locals: { object: admin }

    .form-group
      = f.label :email
      = f.text_field :email, class: 'form-control'

    - if form_type.eql?(:new)
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'

      .form-group
        = f.label :confirm_password
        = f.password_field :confirm_password, class: 'form-control'

    .form-group
      = f.button class: 'btn btn-sm btn-success' do
        %i.fa.fa-dot-circle-o
        Submit