.row.justify-content-center
  .col-md-6
    .card
      .card-header
        Edit Deal

      .card-body
        = render partial: 'admin/deals/shared/form', locals: { deal: deal,
                                                               merchant_id: params[:merchant_id],
                                                               form_type: :edit,
                                                               action: admin_deal_path(deal),
                                                               method: :put }