.row.justify-content-center
  .col-md-6
    .card
      = render partial: 'admin/users/shared/form', locals: { admin: new_admin,
                                                             form_type: :new,
                                                             action: admin_users_path,
                                                             method: :post }
