!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Neario
    = csrf_meta_tags
    = csp_meta_tag

    -# As a parameter javascript_pack_tag is taking a controller name, so
    -# for DealsController   it will load app/views/packs/deals.js
    -# for MerchantsController it will load app/views/packs/merchants.js and so on.
    = javascript_pack_tag params[:controller], defer: true
    = stylesheet_pack_tag params[:controller], media: 'all'
    = javascript_pack_tag 'deferred', defer: true
    %link{rel: 'preload', href: asset_pack_path('deferred.css'), as: 'style', onload: "this.onload=null;this.rel='stylesheet'"}

    :javascript
      !function(n){"use strict";n.loadCSS||(n.loadCSS=function(){});var o=loadCSS.relpreload={};if(o.support=function(){var e;try{e=n.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),o.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.addEventListener?t.removeEventListener("load",a):t.attachEvent&&t.detachEvent("onload",a),t.setAttribute("onload",null),t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},o.poly=function(){if(!o.support())for(var t=n.document.getElementsByTagName("link"),e=0;e<t.length;e++){var a=t[e];"preload"!==a.rel||"style"!==a.getAttribute("as")||a.getAttribute("data-loadcss")||(a.setAttribute("data-loadcss",!0),o.bindMediaToggle(a))}},!o.support()){o.poly();var t=n.setInterval(o.poly,500);n.addEventListener?n.addEventListener("load",function(){o.poly(),n.clearInterval(t)}):n.attachEvent&&n.attachEvent("onload",function(){o.poly(),n.clearInterval(t)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:n.loadCSS=loadCSS}("undefined"!=typeof global?global:this);

  %body{class: markup_for_admin}
    = flash_messages!

    - if admin_signed_in? && current_admin
      = render partial: 'admin/shared_components/header/header'
      .app-body
        = render partial: 'admin/shared_components/sidebar/sidebar'
        %main.main
          = render partial: 'admin/shared_components/breadcrumbs/breadcrumbs', locals: { ctrl: params[:controller] }
          .container-fluid
            #ui-view
              %div
                .animated.fadeIn
                  = yield

      = render partial: 'admin/shared_components/footer/footer'

    - else
      .container.py-5
        = yield
